<h2>New robs</h2>
 <% if logged_in? %>
  <%= render 'form' %>
   <% end %>
 <h1>Not signed in?</h1>
<%= link_to 'Sign in', sessions_path %>
<h1>You are new here</h1>
<%= link_to 'Sign up', new_user_path %>